@import "tailwindcss";
@plugin "daisyui";

/* Humane Font */
@font-face {
  font-family: "Humane";
  src: url("/fonts/HUMANE/Web-PS/Humane-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

.font-humane {
  font-family: "Humane", sans-serif;
}

/* DM Sans Font*/
@font-face {
    font-family: "DM Sans";
    src: url("/Fonts/DM_Sans/static/DMSans-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

.font-sans{
    font-family: "DM Sans", sans-serif;
}

/* Bebas_Neue Font*/
@font-face {
    font-family: "Bebas_neue";
    src: url("/Fonts/Bebas_Neue/BebasNeue-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}

.font-neue{
    font-family: "Bebas_neue", sans-serif;
}

.image-wrap {
  width: 100%;
  height: 350px;
  overflow:hidden
}
.image-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  transition: all 5s ease-in-out;
}
.image-wrap:hover img {
  object-position: bottom center;
}